<h1>Seller Login</h1>
<br>
<%= form_tag url_for(action: 'sellersignin', controller: 'sellerauth'),method: :post do %>
<%= label_tag 'E-Mail'%><br>
<%= text_field_tag :email %> <br>
<%= label_tag 'Password'%><br>
<%= password_field_tag :password %> <br>
<%= submit_tag "Signin" %>
<% end %>
<%=  link_to 'HOME','/'%>